LInked Content Generator v1.json
{
  "name": "Content Generator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Welcome to this trial.\nEnter anything to start. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -272,
        -32
      ],
      "id": "6da5fd89-b8d1-41de-8df3-fbce5c86c80d",
      "name": "When chat message received",
      "webhookId": "d26a481b-4b7b-4875-bdba-79956f126149"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"search the web for trending news and articles on {{ $json.Topic }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"exact_match\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -32
      ],
      "id": "81a877e9-8600-4af4-a807-030d69e2aebd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. {{ $json.results[0].content }}\n2. {{ $json.results[1].content }}\n3. {{ $json.results[2].content }}\n",
        "options": {
          "systemMessage": "=You are writing a LinkedIn post as an AI/ML professional with years of experience.\n\nWho Nnamdi is:\n\nAI/ML engineer focused on practical deployment\n\nAutomation architect building real-world systems with n8n, APIs, and LLMs\n\nBackground in engineering and infrastructure thinking\n\nValues implementation over theory\n\nWrites with clarity, depth, and quiet authority\n\nAvoids hype, noise, and surface-level commentary\n\nVoice:\n\nAnalytical\n\nSystems-oriented\n\nImplementation-focused\n\nCalm and confident\n\nPractical, not motivational\n\nNo emojis\n\nNo hashtags\n\nTASK\nBelow are three content excerpts.\n\nEXCERPTS:\n\n{{ $json.results[0].content }}\n\n{{ $json.results[1].content }}\n\n{{ $json.results[2].content }}\n\nMerge them into ONE cohesive LinkedIn post.\n\nRULES\n\nOne unified narrative (do not summarize separately).\n\nRemove junk text (social labels, navigation, repeated fragments).\n\nDo not mention sources.\n\nKeep it concise and insightful (200–350 words).\n\nFocus on real-world implementation and systems thinking.\n\nAvoid buzzwords and generic futurism.\n\nWrite as someone who builds and deploys, not someone who observes from the sidelines.\n\nOUTPUT\n\nReturn ONLY the final LinkedIn post text.\n\nStructure:\n\n1–2 strong opening sentences (hook)\n\nMain body with clear paragraph spacing (use blank lines between paragraphs)\n\nThree short bullet points using \"-\"\n\nOne closing question\n\nDo NOT:\n\nReturn JSON\n\nUse quotation marks around the entire output\n\nAdd commentary\n\nAdd markdown formatting\n\nAdd code blocks\n\nAdd emojis\n\nAdd hashtags\n\nAdd labels such as \"Hook:\" or \"Key insights:\"\n\nReturn clean plain text only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -32
      ],
      "id": "5a46d515-b136-4108-8267-c405ecf6af8b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "ToDo"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -32
      ],
      "id": "52104f2e-0d52-4c0e-a2fb-3f442e4b88fb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZxvFhp0yQdx6wBf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "c6be8f75-1866-409a-8e69-916b50db9462",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ICHOnWDDX9XksqSB",
          "name": "Main"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WhgHCz1Bhhghv_exQ-roHDkiSXly6KGn4PeOAVWtuZU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -32
      ],
      "id": "0822f46b-3c88-49c7-827d-6813a22107ac",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZxvFhp0yQdx6wBf",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72fa6ed1-46ca-4fd1-a8e2-f0038105d1b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77c3ca97a65275f78022dfb1f2a98eca96d69908405c5028a9184a28f814e4a6"
  },
  "id": "qbwmoJxk36zeKqZC",
  "tags": []
}